@addTagHelper *,Microsoft.AspNetCore.Mvc.TagHelpers

@model List<MyPlace.ViewModels.PostListModel>;

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center d-md-flex row">
    @foreach (var item in Model)
    {

        <div class="card" style="width: 220px;margin:10px;">
            <img src="@item.ImageUrl" alt="Card image cap" style="width:220px;height:120px;object-fit:cover;">
            <div class="card-body">
                <p>@item.DateCreated</p>
                <p>@item.Email</p>
            </div>
        </div>
    }
</div>
